*{
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat", sans-serif;
}
h1{
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
}
h2{
    font-size: 3rem;
    line-height: 1.5;
}

/* General */

.container-fluid{
    padding: 5% 15% 7%;
}

/* Sections */
.coloured-section{
    background-color: #ff4c68;
    color: #ffffff;
}

.white-section{
    background-color: #ffffff;
}
/* Headings */

.big-heading{
    font-weight: 900;
    font-size: 4rem;
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}
.align-left{
    text-align: left;
}


/* Title */

#title .container-fluid{
    padding: 2% 15% 7%;
}
.title-image{
    position: absolute;
    top: 20%;
    right: 20%;
    z-index: 1;
    width: 23%;
    transform: rotate(25deg);
}

/* Navigation Bar */
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-weight: 300;
    font-size: 1.2rem;
}

/* Download buttons */

.download-button{
    margin: 5% 3% 5% 0;
}

/* Features-Section */

#features{
    background-color: #ffffff;
    position: relative;
    z-index: 1;
}
#features .container-fluid{
    padding: 5% 15% 5%;
}
.icon{
    font-size: 3.5rem;
    color: #ef8172;
    margin: 5% 0 2%;
}
.icon:hover{
    color: #ff4c68;
}
.features-h3{
    font-weight: 700;
    font-size: 1.5rem;
}
.features-p{
    color: #8f8f8f;
    padding: 0 20%;
    font-weight: 600;
}
/* Testimonial Section */

#testimonials{
    padding: 5% 0;
    background-color: #ef8172;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.carousel-item{
    padding: 0 10%;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* Press */
#press{
    background-color: #ef8172;

    padding-bottom: 3%;
}
.press-logo{
    width: 12%;
    margin: 20px 20px 50px;
}

/* Pricing */

#pricing{
    padding: 100px;

}
.pricing-column{
    padding: 3% 2%;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* CTA */

#cta .container-fluid{
    padding: 3% 23% 5%;
}
/* Footer */

#footer{

    padding: 3% 20%;
    background-color: #ffffff;
}
.icon-padding{
    padding: 5px;
    margin-bottom: 15px;
}

/* Media */

@media (max-width: 1028px) {
    #title{
    }
    .title-image{
        position: static;
        transform: rotate(0);
        width: 60%;
    }
}